select {
  width: 100%;
  outline: none;
  padding: 4px;
  margin: 6px 0;
  border-radius: 4px;
}
button {
  background: #8fd5e3;
  max-width: 280px;
  padding: 10px 0;
  border: none;
  margin: 10px auto;
  outline: none;
  border-radius: 6px;
}
